body{
    margin: 0%;
}
/*///(Footer)///*/

.container{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    background-color: #2D6FA4;
    padding: 70px 0;
    color: white;
}
.footer-col{
    width: 32%;
    padding: 0 15px;
}
.footer-col h2{
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
.footer-col ul li p{
    margin-bottom: 30px;
}
.footer-col ul li a{
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;

}
.footer-col ul li a:hover{
    padding-left: 10px;
}
.footer img{
    width: 294px;
    height: 64px;
}
.footer2{
    text-align: center;
}