@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    font-family: 'montserrat';
}
.tituloSeccion{
    display: flex;
    width: 100%;
    flex-direction: column;
}
h2{
    
    font-size: 30px;
    text-align: center;
}
h3{
    display: flex;
    height: 60px;
    width: 90%;
    background-color: #2D6FA4;
    font-size: 30px;
    text-align: left;
    align-items: center;
}
.subtitulo{
    display: flex;
    width: 100%;
    height: auto;
    /* background-color: #2da441; */
    color: #fff;
    align-items: flex-end;
    justify-content: center;
}

.slide1{
     
}
.tecnico-contenedor, .posgrado-contenedor{
    display: flex;
    width: 100%;
    justify-content: center;
    /* background-color: #2D6FA4; */
}
.tecnico, .posgrado{
    display: flex;
    width: 80%;
    /* background-color: blue; */
}
.tecnico-texto, .posgrado-texto{
    display: flex;
    flex-direction: column;
    width: 50%;
    /* background-color: bisque; */
}
.tecnico-texto h4, .posgrado-texto h4{
    text-align: center;
}
.tecnico-texto p, .posgrado-texto p{
    text-align: justify;
}


.swiper {
    display: flex;
    width: 80%;
    height: 400px;
}

  