@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    font-family: 'montserrat';
}
.tituloSeccion{
    display: flex;
    width: 100%;
    flex-direction: column;
}
h2{
    font-size: 30px;
    text-align: center;
}
h3{
  font-size: 30px;
  padding-left: 5%;  
  color: rgb(255, 255, 255);
}
.subtitulo{
    display: flex;
    width: 100%;
    height: auto;
    /* background-color: #ffffff; */
    
    align-items: flex-end;
    justify-content: center;
}
.bg_subtitulo{
    display: flex;
    height: 60px;
    width: 90%;
    background-color: #2D6FA4;
    font-size: 30px;
    text-align: left;
    align-items: center;
}

.slide1{
     
}
.tecnico-contenedor, .posgrado-contenedor{
    display: flex;
    width: 100%;
    justify-content: center;
    /* background-color: #2D6FA4; */
}
.tecnico, .posgrado{
    display: flex;
    width: 90%;
    height: 370px;
    /* background-color: blue; */
}
.tecnico-texto, .posgrado-texto{
    display: flex;
    flex-direction: column;
    margin: auto auto;
    width: 40%;
    height: 238px;
    /* background-color: bisque; */
}
.img_tecnico_posgrado{
    margin: auto;
    background-color: rgba(0, 0, 0,.1);
    width: 40%;
    height: 238px;
    margin: auto auto;
    /* padding: 0 10px; */
    border-radius:8px;
}
.img_tecnico_posgrado button{
    background-color: rgba(0,0, 0, 0);
    border-radius: 5px;
    border-color: #fff;
    border-style: ridge;
    color: #fff;

}

.tecnico-texto h4, .posgrado-texto h4{
    text-align: center;
}
.tecnico-texto p, .posgrado-texto p{
    text-align: justify;
}


.swiper {
    display: flex;
    width: 80%;
    height: 400px;
}

  